.home-page{
    background:url(../images/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: bottom left;
    
    
}
   

.transport-box h3{
    font-size: 25px;
    color: rgb(15, 15, 15);
}
.card-box{
    margin-right: 10px;
}
.card-row{
    padding: 40px 50px;
    padding-top: 13%;
}
.card-title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
}